/* Must be at top */
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/* Small screens (default) */
html { font-size: 100%; }
 
/* Medium screens (640px) */
@media (min-width: 40rem) {
	.column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .column.full { width: 100%; }
    .column.three-fourths { width: 75%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
html { font-size: 112%; }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) {
html { font-size: 120%; }
}

.container {
margin: 0 auto;
max-width: 48rem;
width: 90%;
}
.clearfix:before,
.clearfix:after {<meta charset="utf-8">
content: " ";
display: table;
}
 
.clearfix:after {
clear: both;
}
 
.clearfix {
*zoom: 1;
}