{% extends "base.html" %}

{% load staticfiles %}

{% block title %}INDEX PAGE{% endblock %}

{% block content %}
    <div class="row clearfix">
        <div class="column half">
                <!-- Your Content -->
        </div>
        <div class="column half">
                <!-- Your Content -->
        </div>
    </div>
    <div class="row clearfix">
        <div class="column half">
            <!-- Your Content -->
        </div>
        <div class="column half">
            <!-- Your Content -->
        </div>
    </div>
{% endblock %}