{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block content %}
    <script>
    window.onload = function (){
        var project_id = {{ project.id }};
        $.ajax({
          url: '/project/' + project_id + '/tasks'
        }).done(function(results) {
            var project_id = {{ project.id }};
            var task_id = {{ task.id }};
            for (var i=0; i<results.length; i++) {
                $('.tasks').append('<li>Task name: ' + results[i].fields.name + '</li>' + '<li>Description: ' + results[i].fields.description + '</li>' + '<li>Difficulty level: ' + results[i].fields.difficulty_level + '</li>' + '<li>' + '<a href="/project/' + project_id + '/task/' + task_id + '/edit' '>Edit Task</a>' + '</li>' + '</br>');
            }
        });
    }
    </script>
    <div class="row clearfix">
        <div class="column full">
            <div class="projects">
            {{ project.name }}
                <ul class="tasks">Tasks:

                </ul>
            </div>
            <a href="{% url 'create_task' project_pk=project.pk %}">Create New Task</a>
        </div>
    </div>
    <div class="row clearfix">
        <div class="column half">
            <!-- Your Content -->
        </div>
        <div class="column half">
            <!-- Your Content -->
        </div>
    </div>

    
{% endblock content %}