{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block content %}
    <div class="row clearfix">
        <div class="column full">
            <div class="projects">
            {{ project.name }}
                <ul>Tasks:
                {% for task in tasks %}
                    <li>Name: {{ task.name }}</li>
                    <li>Description: {{ task.description }}</li>
                    <li>Difficulty Level: {{ task.difficulty_level }}</li>
                    <a href="">Edit Task</a>
                    </br>
                    </br>
                {% endfor %}
                </ul>
            </div>
            <a href="{% url 'PM_app.views.create_task' %}">Create New task</a>
        </div>
    </div>
    <div class="row clearfix">
        <div class="column half">
            <!-- Your Content -->
        </div>
        <div class="column half">
            <!-- Your Content -->
        </div>
    </div>
{% endblock content %}